@import "tailwindcss";

@font-face {
    font-family: 'young-serif';
    src: url('../assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'outfit-normal';
    src: url('../assets/fonts/outfit/static/Outfit-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'outfit-medium';
    src: url('../assets/fonts/outfit/static/Outfit-Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'outfit-bold';
    src: url('../assets/fonts/outfit/static/Outfit-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


@theme {
    --color-stone-100: hsl(30, 54%, 90%);
    --color-stone-150: hsl(30, 18%, 87%);
    --color-stone-600: hsl(30, 10%, 34%);
    --color-stone-900: hsl(24, 5%, 18%);
    --color-brown-800: hsl(14, 45%, 36%);
    --color-rose-50: hsl(330, 100%, 98%);
    --color-rose-800: hsl(332, 51%, 32%);

    --font-young-serif: "young-serif", ui-sans-serif, system-ui;
    --font-outfit-normal: "outfit-normal", ui-sans-serif, system-ui;
    --font-outfit-medium: "outfit-medium", ui-sans-serif, system-ui;
    --font-outfit-bold: "outfit-bold", ui-sans-serif, system-ui;
}